body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    color: cyan;
}
label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100pt;
    text-align: center;
 }